<!--bops-->
<table class="container bg-white no-gutter" width="650" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>

			<table class="bg-white bops-bar bg-gray" width="550" align="center" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="bops-bar-td column-12 text-center">
						
						<table class="bops-bar-inner" align="center" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<th class="column-1 text-center" width="48">
									<a href="http://%%track%%/bops"><img width="22" class="locator-pin text-center" src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_pin.png" alt="Store Locator" />
									</a>
								</th>
								<th class="column-6 text-center" width="300" class="text-center">
									<a href="http://%%track%%/bops">
										Buy Online, Pick Up In Store <span>Shop Now</span>
									</a>
								</th>
							</tr>
						</table>

					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>