					<table class="container bg-white no-gutter" width="650" align="center" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								
								<table class="bg-white spacer social-app-spacer" width="550" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td height="38">
											<img src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_spacer.gif" width="550" height="38" />
										</td>
									</tr>
								</table>

								<table class="bg-white social-app" width="550" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<th class="column-6 text-center social-btns" valign="top">

											<table align="center" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td valign="top" class="text-center icon-header-text">
														CONNECT WITH US
													</td>
												</tr>
												<tr>
													<td class="social-icon-outer-td">

														<table width="176" class="social-icon-container" align="center" border="0" cellpadding="0" cellspacing="0">
															<tr>
																<td width="44">
																	<a href="http://%%track%%/instagram">
																		<img width="44" height="37" src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_instagram.gif" alt="Instagram" />
																	</a>
																</td>
																<td width="44">
																	<a href="http://%%track%%/pinterest">
																		<img width="44" height="37" src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_pinterest.gif" alt="Pinterest" />
																	</a>
																</td>
																<td width="44">
																	<a href="http://%%track%%/facebook">
																		<img width="44" height="37" src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_facebook.gif" alt="Facebook" />
																	</a>
																</td>
																<td width="44">
																	<a href="http://%%track%%/twitter">
																		<img width="44" height="37" src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_twitter.gif" alt="Twitter" />
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>

										</th>
										<th class="column-6 app-outer text-center" valign="top">

											<table align="center" border="0" cellpadding="0" cellspacing="0" class="app-icon-outer">
												<tr>
													<td valign="top" class="text-center icon-header-text">GET OUR APP
													</td>
												</tr>
												<tr>
													<td class="apple-icon-td">
														<a href="http://%%track%%/app">
															<img width="122" class="app-icon" src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_apple.gif" alt="Download Our App" />
														</a>
													</td>
												</tr>
											</table>

										</th>
									</tr>
								</table>
								
								<table class="bg-white spacer footer-sub-spacer" width="550" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td height="38">
											<img src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_spacer.gif" width="550" height="38" />
										</td>
									</tr>
								</table>

								<table class="bg-white footer-sub" width="550" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td class="column-12 footer-links-padding">
											<table class="footer-links-sub" align="center" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<th class="text-center">
														<a href="http://%%track%%/navevents">STORES &amp; EVENTS</a>
													</th>
													<th class="text-center">
														<a href="http://%%track%%/custserv">CUSTOMER SERVICE</a>
													</th>
													<th class="text-center">
														<a href="http://%%track%%/navcredit">CREDIT SERVICES</a>
													</th>
													<th class="text-center">
														<a href="http://%%track%%/navloyalty">LOYALLIST</a>
													</th>
												</tr>
											</table>

											<table class="bg-white footer-links-sub" align="center" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<th class="text-center">
														<a href="http://%%track%%/privacy">PRIVACY POLICY</a>
													</th>
													<th class="text-center">
														<a href="http://%%track%%/navlogo">BLOOMINGDALES.COM</a>
													</th>
													<th class="text-center">
														<a href="http://%%track%%/billofri">CUSTOMER BILL OF RIGHTS</a>
													</th>
													<th class="text-center">
														<a href="http://%%track%%/unsub?t=%%t%%&amp;email=%%email%%">UNSUBSCRIBE</a>
													</th>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<table class="bg-white spacer" width="550" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td height="10">
											<img src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_spacer.gif" width="550" height="10" />
										</td>
									</tr>
								</table>

								<table class="bg-white copyright text-center" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td class="column-12 text-center">
											Don't miss a thing! <span>Add <a href="mailto:bloomingdales@e.bloomingdales.com">bloomingdales@e.bloomingdales.com</a> to your address book.</span>
											<br>&copy; 2019 Bloomingdale's. 1000 Third Avenue New York, NY 10022.
										</td>
									</tr>
								</table>

								<table class="bg-white spacer" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
											<td height="25">
												<img src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_spacer.gif" width="550" height="25" />
											</td>
										</tr>
								</table>

								<table class="fine-print text-center bg-gray" width="650" align="center" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td class="text-left" style="font-size: 14px; line-height: 23px; border-collapse: collapse; padding-top: 20px; padding-bottom: 20px; font-family: 'Avenir',-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif; text-align: left;" align="left">
											<!--<p class="font-bold" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 10px; margin-bottom: 0; font-weight: bold;">TAKE $15 OFF EVERY $150 IN BEAUTY:</p>
											<p class="font-body" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 0px;">Offer valid online April 5 - April 14, 2019 and in-store April 8 - April 14, 2019. Discount will automatically be applied at checkout. No adjustments to prior purchases. All employees of Bloomingdale's and its affiliates are excluded. Offer only valid in United States stores. Offer not valid in Bloomingdale's Outlets.</p>

											<p class="font-bold" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 10px; margin-bottom: 0; font-weight: bold;">LOYALLIST FREE SHIPPING:</p>
											<p class="font-body" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 0px;">Loyallists receive free standard shipping on online purchases shipped to a single U.S. address. No adjustments to prior purchases. Offer excludes Gift Cards, Furniture and Mattresses. Must pay with a Bloomingdale's card or use a Loyallist ID.</p>

											<p class="font-bold" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 10px; margin-bottom: 0; font-weight: bold;">FREE SHIPPING:</p>
											<p class="font-body" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 0px;">Free standard shipping on orders of $150 or more only at Bloomingdales.com and Bloomingdales.com/registry. Not valid when shipping to multiple addresses. No adjustments to prior purchases. Free shipping is valid online only. Offer excludes Gift Cards, Furniture, and Mattresses. Not valid in Bloomingdale's stores or Bloomingdale's The Outlet stores. Valid only when shipping to the U.S. Delivery charges may apply in store. See a sales associate for details.</p>

											<p class="font-bold" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 10px; margin-bottom: 0; font-weight: bold;">FREE SHIPPING ON BEAUTY:</p>
											<p class="font-body" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 0px;">Free standard shipping on beauty orders of $50 or more at Bloomingdales.com. Not valid when shipping to multiple addresses. No adjustments to prior purchases. Free shipping is valid online only. Not valid in Bloomingdale's stores or Bloomingdale's The Outlet stores. Valid only when shipping to the U.S. Delivery charges may apply in store. See a sales associate for details.</p>-->
											<p class="font-bold" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 10px; margin-bottom: 0; font-weight: bold;">HOLIDAY FREE SHIPPING:</p>
											<p class="font-body" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 0px;">Receive free standard shipping on online orders placed between 11/4/19 at 12:00AM and 12/21/19 at 11:59PM ET. Exceptions where items may not arrive by 12/24/19: Direct from the vendor, Special order, On order, and Pre-Order. See product details page and bag for more information. Free standard shipping on bloomingdales.com purchases shipped to a single U.S. address, excluding furniture, mattresses and rugs. Offer not valid on prior purchases. In store free shipping offer only applies to merchandise that is not available in the store where the order is placed, but available at another Bloomingdale's Department Store location. Additional delivery charges may apply for expedited shipping.</p>

											<p class="font-bold" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 10px; margin-bottom: 0; font-weight: bold;">FREE RETURNS:</p>
											<p class="font-body" style="color: #767676; font-size: 10px; line-height: 16px; margin-top: 0px;">Free returns everyday on online orders. Offer excludes gift cards, furniture, mattresses, mirrors, lamps and wall art. Only valid when shipping within the U.S. </p>

											<p style="color: #767676; font-size: 10px; line-height: 16px;">You're currently registered to receive emails at %%EMAIL%%. This message was sent to you by Bloomingdale's. To <a href="http://%%track%%/unsub2?email=%%email%%" target="_top" style="text-decoration: none; color: #767676;">unsubscribe</a> from future <a href="http://%%track%%/cadisc" target="_top" style="text-decoration: none; color: #767676;">bloomingdales.com marketing emails unsubscribe below.</a></p> 

											<p style="color: #767676; font-size: 10px; line-height: 16px;">Please note that if you unsubscribe from bloomingdales.com marketing emails you may continue to receive certain transactional emails from Bloomingdale's regarding a purchase you made from Bloomingdale's (i.e.-E-receipts, shipping confirmation) or email alerts that you have signed up to receive from Department Stores National Bank (DSNB) regarding your Bloomingdale's Credit Account. To opt-out or change your communication preferences regarding your Credit Account visit My Bloomingdale's Credit Card and sign in to your account. Once signed in click Manage Credit Alerts.</p>
										</td>
									</tr>
								</table>

							</td>
						</tr>
					</table>

				</td>
			</tr>
		</table>

		<img 
src="http://ad.doubleclick.net/ddm/ad/N5940.547841VISUALIQINC/B8956719.127293741;sz=1x1;u=%%INDIV_ID%%&mid=%%PID%%?" 
border="0" width="1" height="1" alt="Advertisement">

	</body>
</html>