<!--footer links mobile only-->
<table class="container bg-white no-gutter show-mobile" width="650" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="column-12">
			
			<table class="footer-links bg-white show-mobile" align="center" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="text-center footer-shop-all show-mobile">
						SHOP ALL BLOOMINGDALE'S
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navwomen">WOMEN</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navshoes">SHOES</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navhandbag">HANDBAGS</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navja">JEWELRY &amp; ACCESSORIES</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navmen">MEN</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navkids">KIDS</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navhome">HOME</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navsaleval">SALE</a>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>