<!--footer links mobile only-->
<table class="container bg-white no-gutter show-mobile" width="650" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="column-12">
			
			<table class="footer-links bg-white show-mobile" align="center" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="text-center footer-shop-all show-mobile">
						SHOP THE REGISTRY
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navwomen">DINING &amp; ENTERTAINMENT</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navshoes">KITCHEN</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navhandbag">HOME DECOR</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navja">BED &amp; BATH</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navbeauty">LUGGAGE</a>
					</td>
				</tr>
				<tr>
					<td class="text-center show-mobile">
						<a href="http://%%track%%/navmen">HOME CARE &amp; TECH</a>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>