<!--loyalist banner-->
<table class="container bg-white no-gutter show-mobile" width="650" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="column-12">

			<table class="loyalist-banner bg-gray no-gutter" width="550" align="center" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="text-center">
						<a href="http://%%track%%/navfs">
							<img src="http://f.e.bloomingdales.com/i/32/392907741/0619SA_loyalist.gif" width="31" alt="Loyalist" />
							<span>Loyallists Always Get Free Shipping</span>
							Everyone Else On Orders Over $150
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>